header.header
    .header__column
        a(href=routes.home)
            p home
    .header__column
        ul
            li
                a(href=routes.submit) 등록
            li
                a(href=routes.view) 조회
                